@font-face {
    font-family:'GinoSchoolScript';
    src: url('GinSSB60.ttf'); }

@font-face {
   font-family:'HiLo-Deco';
   src: url('HiLo-Deco.ttf');}

@font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.ttf');}

@font-face {
  font-family: 'Coventry Garden';
  src: url('CoventryGarden.ttf');}

@font-face {
  font-family: 'Soerjapoetera';
  src: url('Soerjapoetera.otf');}

@font-face {
  font-family: 'Deftone Stylus';
  src: url('deftone stylus.ttf');}


html {
  position:relative;
  background-color:black;
    --mainfontsize: 1.1rem;
    font-size: 100%;
    overflow-x: hidden;
  }
body{
  background-color:black;
  width:100%;
  overflow-x: hidden;
}
  
  
    @keyframes example {
    0% {stroke-width:1rem;}
    50% {stroke-width:1.5rem;}
    100% {stroke-width:1rem;}} 
  
  @keyframes movement-left {
    0% {left:57%;}
    30% {left:48.5%;}
    100%{left:50%;}}
  
  @keyframes movement-right {
    0% {left:43%;}
    30% {left:51.5%;}
    100%{left:50%;}}

    @keyframes movement-left2 {
        0% {left:50.5%;}
        50% {left:49.7%;}
        100%{left:50%;}}
      
      @keyframes movement-right2 {
        0% {left:49.5%;}
        50% {left:50.3%;}
        100%{left:50%;}}
  
        .color1{fill:#f517ff}.color2{fill:#73ff9b}.color3{fill:#2edeff}.color4{fill:none}

  .intro {height: 100vh;
  min-height: 55rem;}

  .video {
    top: 0;
    z-index: -1;  
    filter: grayscale(100%) opacity(50%);  
    height: 100vh;
    min-height: 53rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }      


  #letters{
    display: none;
    z-index:1;
    position:absolute;  
    margin-left: -1.5rem;
    top:-0.8rem;
    left:50%;
    transform: translate(-50%, 0);
    width:100%; }
  
  #lettering-svg{
    animation:movement-left2 1.5s forwards;
    width:28.3rem;
    position:absolute;
    transform: translate(-50%, 0);}
  
  #lettering-svg2{
    animation:movement-right2 1.5s forwards;
    width:28.3rem;
    position:absolute;
    transform: translate(-50%, 0);}
  
  #records{
  display: none;
  position:absolute;    
  top:9.3rem;
  left:50%;
  transform: translate(-50%, 0);
  width:100%;
}
  
  
  #record2{
    position:relative;
    animation:movement-left 1.5s forwards;
    stroke-miterlimit:100;
    transform: translate(-50%, 0);
    width:20rem;}
  
  
  #record{
    position:absolute;
    animation:movement-right 1.5s forwards;
    stroke-miterlimit:100;
    width:20rem;
    transform: translate(-50%, 0);
  --animation-time: 0.7s;}
  
  .cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6{fill:none;stroke-miterlimit:10;stroke-width:7px;}
  .cls-1{stroke:#f517ff;}
  .cls-2{stroke:#b85cff;}
  .cls-3{stroke:#8b73ff;}
  .cls-4{stroke:#b85cff;}
  .cls-5{stroke:#f517ff;}
  .cls-6{stroke:#f517ff;}
  
  #circle1 {animation: example var(--animation-time); animation-delay:0.4s;}
  #circle2 {animation: example var(--animation-time); animation-delay:0.45s;}
  #circle3 {animation: example var(--animation-time); animation-delay: 0.5s;}
  #circle4 {animation: example var(--animation-time); animation-delay: 0.55s;}
  #circle5 {animation: example var(--animation-time); animation-delay: 0.65s;}
  #circle6 {animation: example var(--animation-time); animation-delay: 0.7s;}
  #circle7 {animation: example var(--animation-time); animation-delay: 0.75s;}
  #circle8 {animation: example var(--animation-time); animation-delay: 0.8s;}
  #circle9 {animation: example var(--animation-time); animation-delay: 0.85s;}
  #circle10 {animation: example var(--animation-time); animation-delay: 0.9s;}
  #circle11 {animation: example var(--animation-time); animation-delay: 1s;}
  #circle12 {animation: example var(--animation-time); animation-delay: 1.1s;}




  /* Splash Page */

  .splash2 {
    position: absolute;
    top: 14.2rem;
    left: 0;
    right: 0;
    font-family: HiLo-Deco;
    font-size: 3.3rem;
    color: HotPink; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
  }

  .splash {
    top: 19rem;
    left: 0;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-columns: auto 7.9rem auto;
    grid-template-rows: 8rem;
    margin-top: 0rem;
    justify-content: center;
  }

  .sell{
    position: relative;
    margin-top: -1.3rem;
    font-family: Coventry Garden;
    font-size: 8rem;
    color: blue;
    /*text-shadow: 0.2rem 0.2rem #65006f;*/ 
  }

  .your {
    position: relative;
    font-family: Deftone Stylus;
    font-size: 3.6rem;
    color: pink;  
  }

  .vinyl {
    position: relative;
    margin-top: -1.3rem;
    font-family: Coventry Garden;
    font-size: 8rem;
    color: HotPink;
    /*text-shadow: 0.2rem 0.2rem #65006f;*/ 
  }

  

  /* navbar */

  a{
    text-decoration: none !important;
    color:pink;
  }

  a:hover{
    color:HotPink
    }

  .navbar {
    font-family: HiLo-Deco;
    font-size: 2rem; 
    position: sticky;
    top: 0;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -25rem;
    z-index: 1;
  }
  @media screen and (max-width: 610px) {
  .navbar{z-index: 1;}}

  .video2{
    display: none;
    margin-top: 5rem;
    display: relative;
    z-index: -1;  
    filter: grayscale(100%);  
    height: 100%;
    min-height:55rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;}

  #filler {
    height:91rem;
  }

  @media screen and (max-width: 653px) { 
    .video{width:90rem; margin-left:-45%; margin-top: -3rem;}
    #lettering-svg{width: 21rem;}
    #lettering-svg2{width: 21rem;}
    #record{width: 15rem;}
    #record2{width: 15rem;
    }
    #records{top: 7rem;}
    html {--mainfontsize: 0.8em;}
    .splash2{font-size: 6vw; top:12rem;}
    .splash{grid-template-columns: auto 15vw auto; 
      grid-template-rows:3rem; top: 15rem;}
    .sell{font-size: 14vw; color: yellow;}
    .your{font-size:7vw; margin-top:-1.2rem; color:brown}
    .vinyl{font-size:14vw;}
    .navbar{font-size:5vw; margin-top:-19rem;
    margin-left: 3%; margin-right: 3%}
    .intro{max-height: 43rem; min-height: 38rem;}
    }