@font-face {
    font-family:'GinoSchoolScript';
    src: url('GinSSB60.ttf'); }

@font-face {
   font-family:'HiLo-Deco';
   src: url('HiLo-Deco.ttf');}

@font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.ttf');}

@font-face {
  font-family: 'Coventry Garden';
  src: url('CoventryGarden.ttf');}

@font-face {
  font-family: 'Soerjapoetera';
  src: url('Soerjapoetera.otf');}

@font-face {
  font-family: 'Deftone Stylus';
  src: url('deftone stylus.ttf');}


html {
  position:relative;
  background-color:snow;
    --mainfontsize: 1.1rem;
    font-size: 100%;
    overflow-x: hidden;
  }
body{
  background-color:snow;
  width:100%;
  font-family: HiLo-Deco;
  font-size: 1.7em;
}

h1 {
font-family:  Deftone Stylus;
font-size:3.2rem; 
}

h2 {
  font-size: 2.6rem;
}
  
  
    @keyframes example {
    0% {stroke-width:1rem;}
    50% {stroke-width:1.5rem;}
    100% {stroke-width:1rem;}} 
  
  @keyframes movement-left {
    0% {left:57%;}
    30% {left:48.5%;}
    100%{left:50%;}}
  
  @keyframes movement-right {
    0% {left:43%;}
    30% {left:51.5%;}
    100%{left:50%;}}

    @keyframes movement-left2 {
        0% {left:50.5%;}
        50% {left:49.7%;}
        100%{left:50%;}}
      
      @keyframes movement-right2 {
        0% {left:49.5%;}
        50% {left:50.3%;}
        100%{left:50%;}}
  
        .color1{fill:#f517ff}.color2{fill:#73ff9b}.color3{fill:#2edeff}.color4{fill:none}

  .intro {
  position: relative;
  display:block;
  top: 0;
  min-height: 53rem;
  height: 100vh;
  background-color: black;
  z-index: 10;
  overflow: hidden;}

  .video {
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;  
    filter: grayscale(100%) opacity(50%);  
    min-height: 53rem;
    height:100vh;
    background-image: url("platebackground.jpg");
    background-attachment: fixed;
  }      




  #letters{
    margin-top:1.5rem;
    width:100%;
    margin-left: min(-2.8rem, -4.7vw); }
  
  #lettering-svg{
    z-index:100;
    width:30vw;
    min-width:17.7rem;}
  
  
  #records{
  z-index:0;
  margin-left: min(1rem, 0.3vw);   
  margin-top: min(-13.1rem, -22vw);
  width:100%;
}
  
  #record{
    stroke-miterlimit:100;
    width:23.5vw;
    min-width:14rem;
  --animation-time: 0.7s;}
  
  .cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6{fill:none;stroke-miterlimit:10;stroke-width:7px;}
  .cls-1{stroke:palevioletred;}
  .cls-2{stroke:#FF909B;}
  .cls-3{stroke:hotpink;}
  .cls-4{stroke:MediumVioletRed;}
  .cls-5{stroke:deeppink;}
  .cls-6{stroke:pink;}
  




  /* Splash Page */

  .splash2 {
    position: absolute;
    top: 14.2rem;
    left: 0;
    right: 0;
    font-family: HiLo-Deco;
    font-size: 3.3rem;
    color: HotPink; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
  }

  .splash {
    top: 19rem;
    left: 0;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-columns: auto 7.9rem auto;
    grid-template-rows: 8rem;
    margin-top: 0rem;
    justify-content: center;
  }

  .sell{
    position: relative;
    margin-top: -1.3rem;
    font-family: Coventry Garden;
    font-size: 8rem;
    color: HotPink;
    /*text-shadow: 0.2rem 0.2rem #65006f;*/ 
  }

  .your {
    position: relative;
    font-family: Deftone Stylus;
    font-size: 3.6rem;
    color: pink;  
  }

  .vinyl {
    position: relative;
    margin-top: -1.3rem;
    font-family: Coventry Garden;
    font-size: 8rem;
    color: HotPink;
    /*text-shadow: 0.2rem 0.2rem #65006f;*/ 
  }

  

  /* navbar */

  a{
    text-decoration: none !important;
    color:pink;
  }

  a:hover{
    color:HotPink
    }

  .navbar {
    font-family: HiLo-Deco;
    font-size: 2rem; 
    position: sticky;
    top: 0;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -25rem;
    z-index: 100;
  }
  @media screen and (max-width: 610px) {
  .navbar{z-index: 10;}}


/* process */


  .process {
    margin-top: 21rem;
    height:100vh;
    min-height: 51rem;
    z-index: 0;
    overflow-y: hidden;
  }

  .processhead{position: relative;
    padding-top: 20vh;
    font-family: 'Coventry Garden';
    text-align: center;}

  .steps {
    bottom:  20vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    height: 100%;}

  .step {margin: 3rem;
  text-align: center;}

  .a2{color: #a5a5a5}
  .a2:hover {color: hotpink}

  .vinyl-icon {width: 5rem; margin: auto;}
  .telephone-icon {width: 6rem; margin: auto;}
  .dollar-icon {width: 4rem; margin: auto;}

  /* FAQ */
  .faqhead {
    height: 31vh;
    overflow:hidden;
    display:block;
  }

  .heady{position: relative;
    background-color: transparent;
    font-family: 'Coventry Garden';
    text-align: center;
    color: white;
    z-index: 100;
    margin-top:-20vh;}

  .video3{
    width:106%;
    margin-top:-15rem;
    height: 50rem;
    display: block;
    z-index: 0;
    top: 0;  
    filter: grayscale(100%) opacity(100%);
    background-image: url("Background_bn.jpg");
    background-size: 100%;
    background-attachment: fixed;  
  }

  .FAQ {
    padding-top: 4rem;
    background-color: snow;
    height: max(100vh, auto);
  }
  
  #faqbox {
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
  }


  ul {
    margin-top: 5rem;
  }
  li {
    margin-top: 2rem;
    list-style-type: none;
  }
  
  .question {
    margin-left: 2rem;
    text-align: left;
    font-size: 2rem;
    border: none;
    outline: none;
    color: #a5a5a5; 
  background-color: rgba(0,0,0,0);}

  .answercontainer{margin: 1rem 2rem;}

  .question:hover {
    color:pink;
  }

  .question:focus {
      outline: none;
      box-shadow: none;
      border: none;
      color: hotpink;
  }

  input[type="button"]
  {border: none;
  outline: none;}

  /* Contact */

  .contact{position: relative;
    top:0;
    min-height:45rem;
    height: 110vh;
    padding-top: 4rem;
    display:block;
    background-color: snow;
    z-index: 1;
    overflow: hidden;}
  
    .video4 {
    height: 50rem;
    margin-left: 0rem;
    margin-top:-7rem;
    display: block;
    z-index: 0;
    top: 0;  
    filter: grayscale(100%) opacity(100%); 
    background-image: url("vinyl-background-end.jpg");
    background-size: 100%;
    background-position: -40% 0%;
    background-attachment: fixed;

    }  

    .contactcontent{margin-top: 10rem;}

    .contact-box {
      margin-top: 23vh;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      border: solid 3px #a5a5a5;
      min-width: 25rem;
      padding-top: -20rem;
    }

    
    
    button, input, select, textarea {
      color: #a5a5a5;
    }
      
    
    form {
      padding: 2rem;

    }
       
    
    .email {
      margin-top:-2.5rem;
      margin-right: 10%;
      float: right;
      width: 40%;
    }
    
    input[type='text'], [type='email'], select, textarea {
      background: none;
      border: none;
      border-bottom: solid 0.15rem #a5a5a5;
      color: black;
      font-size: 1.7rem;
      margin: 1rem 0.9rem;
      width: 100%;
      transition: all 0.3s;
    }
    
    input[type='text']:focus, [type='email']:focus, textarea:focus {
      color: pink;
      outline: none;
      border-bottom: solid 0.15rem pink;
      padding: 0 0 1rem 0;
    }
    
    
    .name {
      margin-top:-2.5rem;
      float: left;
      width: 40%;
    }
    
    
    .telephone {
      margin-top:-2.5rem;
      width: 90%;
    }
    
    textarea {
      margin-top:0rem;
      margin-left:0.5rem;
      height: 10vh;
      resize: none;
      width: 90%;
    }
  
    
    #form_button {
      font-family: HiLo-Deco;
      background: none;
      font-weight: bold;
      border: solid 0.2rem #a5a5a5;
      color: #a5a5a5;
      display: inline-block;
      font-size: 2.2rem;
      outline: none;
      padding: 0.6rem 2rem 1rem 2rem;
      margin-left: 0.5rem;
      transition: all 0.3s;
    }
    
    #form_button:hover {
      border: solid 0.2rem pink;
      background: pink;
      color: snow;
    }
    
  .finalremarks {
    background-color: green;
  }
  
  #logo {float: left;}

  .info-wrapper {padding-top: 2rem; 
    padding-bottom: 20vw;}

  .info {
    padding-top: 0.4rem;
    color: pink;
  }

  


  @media screen and (max-width: 683px) { 
    body{font-size: 1.4rem;}
    .video{height: 106vh; margin-left:-60%; margin-top: -3rem;}
    .intro{min-height: 2rem; height: 100vh; padding-top:0rem;}
    html {--mainfontsize: 0.8em;}
    .splash2{font-size: 7vw; top:19vh;}
    .splash{grid-template-columns: auto 16.6vw auto; 
      grid-template-rows:3rem; top: 26vh;}
    .sell{font-size: 16vw; color: hotpink;}
    .your{font-size:8vw; margin-top:-.5rem; color:pink}
    .vinyl{font-size:16vw;}
    .navbar{font-size: min(5vw, 2rem); margin-top:-61vh;
    margin-left: 3%; margin-right: 3%; margin-bottom: 57vh;}
    .process{height: auto;}
    .steps{margin-top: 15rem; display: block; font-size: 1.4rem;}
    .processhead{font-size:2.5rem; padding-top: 6vh}
    h2{font-size: 2rem;}
    .vinyl-icon {width: 3rem; margin: auto;}
    .telephone-icon {width: 3.5rem; margin: auto;}
    .dollar-icon {width: 2rem; margin: auto;}
    .FAQ{margin-top:-10vh}
    .question {font-size: 1.4rem; margin-left: 5%; margin-right: 8%;}
    .faqhead {
      height: 18vh;}
    .video3{width:109vw;
    margin-top:-18rem;}
    .video4{margin-left: -9rem; height:30rem; margin-top: -4rem;}
    .heady {margin-top: -7rem; color: blue;}
    #faqbox {margin-top: 14vh;}
    input[type='text'], [type='email'], select, textarea {font-size:1.4rem;}
    #form_button {font-size: 1.8rem; padding: 0.2rem 1.2rem 0.4rem 1.4rem;}
    .name{float: none; width: 90%;}
    .email{float: none; width: 90%}
    .contact-box{min-width: 90vw;}
    .info-wrapper {padding-top: 2rem; 
      padding-bottom: 28vw;}
  }

    @media screen and (max-width: 500px) {
      .navbar{font-size: 5vw; margin-top: min(-65vh);
        margin-left: 3%; margin-right: 3%; margin-bottom: 60vh;}
      .processhead{font-size:2rem; padding-top: 6vh}
    h2{font-size: 1.5rem;}
    .steps{margin-top: 25vh; display: block; font-size: 1.2rem;}
    input[type='text'], [type='email'], select, textarea {font-size: 1.3rem;}} 